/* src/styles/responsiveDesign.css */

.responsiveDesign {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For mobile phones: */
@media only screen and (max-width: 600px) {
    .responsiveDesign {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .responsiveDesign {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .responsiveDesign {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}